<p id="notice"><%= notice %></p>
<div id = "states" >
	<% unless @states[0].nil? %>
		<ul>
			<li><b>Project</b></li>
			<li><b>Title</b></li>
			<li><b>Open</b></li>
			<li><b>Action</b></li>
		<% @states.each do |state| %><br/>
	  	<li><%= state.project.name %></li>
	  	<li><%= state.title %></li>
	  	<li><%= state.open %></li>
	  	<li><%= link_to 'edit', edit_state_path(state) %></t><%= link_to 'remove', state_path(state), :method => :delete %></li>
		<% end %>
	<%end %>
	<%= link_to 'new state', { :controller => :states, :action => :new, :project_id => @project.id} %>
</div>