<%= form_for(@ticket) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% @ticket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="field">
    <b><%= f.label :title %></b><br/>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <b><%= f.label :description %></b>
    <a id = "attach_file_anchor">attach description</a><br/>
    <%= f.text_area :description %>
  </div>
  <div id = "upload_file">
  <!--%= form_tag({:action => 'file_upload'},:multipart => true) do %-->
    <label for="upload_file">Description File</label>
    <%= f.file_field :description %><br/>
  <!--% end %-->
  </div>
    <%= f.hidden_field :user_id, :value => @user.id %>
    <%= f.hidden_field :project_id, :value => @project.id %>
  <div class="field">
    <b><%= f.label :assign_to %></b>
    <%= collection_select(:ticket, :assigned_to,@can_assign_to, :id, :name, {:prompt => "assign ticket to"}) %>
  </div>
  <br/>
  <div class="field">
    <b><%= f.label :state, "State" %></b>
    <%= collection_select(:ticket, :state,@states_for_ticket, :id, :title, {:prompt => "ticket state"}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>

