<p id="notice"><%= notice %></p>
<h1>Listing tickets</h1>
<div id="searched_tickets">
<table id="searched_tickets_table">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Created By</th>
    <th>Assigned To</th>
    <th>Current State</th>
    <th>Tags</th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr>
    <td><%= link_to ticket.title, ticket_path(ticket.id) %></td>
    <td id = "description_content">
      <% if ticket.description.end_with?('jpg','png') %>
        <%= image_tag("../#{ticket.description}")%>
      <% elsif ticket.description.end_with?('txt') %>
        <pre>
          <%= render :file => "public/#{ticket.description}"%>
        </pre>
      <% else %>
        <%= ticket.description %>
      <% end %>
    </td>
    <td><%= ticket.creator.name %></td>
    <td><%= User.find(ticket.assigned_to).name %></td>
    <td><%= State.find(ticket.state).title %></td>
    <td><%= ticket.tag_list %></td>
  </tr>
<% end %>
</table>
</div>
