
<p id="notice"><%= notice %></p>
<div id="project_description_div" >
  <div id="head">
    <h1><%= @project.name %></h1>
    <% if @admin %>
    <%= link_to 'Edit Project', edit_project_path(@project) %>
    <% end %>
  </div>
  <table id = "project_content">
    <tr>
      <td><b>Description:</b></td>
      <td><b><%= @project.description %></b></td>
    </tr>

    <tr>
      <td><b>Owner:</b></td>
      <td><b><%= @project.owner.name %></b></td>
    </tr>
  </table>
  <br/>
  <div id = "edit_and_email">
    <% if @project.owner.id == session[:user_id] %>
   
      <%= form_tag(send_emails_path, :method => :get) do %>
      
        <div id="invitations_div">
      	  <h2>Invite people via email<h2>
            <p>comma separated emails</p>
            <%= text_field_tag :emails %>
            <%= submit_tag 'Invite' %>
            <%= hidden_field_tag :id, @project.id%>
            <br/><br/>
            <%= check_box_tag :admin_role, true %>Make all admins
        </div>
      <% end %>
      
    <% end %>
  </div>
</div>


<div id = "sidebar" >
  <div id="addticket" align="center">
    <%= link_to "Add ticket to #{@project.name}", {:controller => :tickets, :action => :new,:project_id => @project.id}, :method => :get %> 
  </div>

  <div id = "ticket_list">
    <% if @tickets_for_project %>
      <ul>
        <% @tickets_for_project.each do |ticket| %>
          <li><%= link_to "#{ticket.title}" , ticket_path(ticket) %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

</div>
