<!DOCTYPE html>
<html>
<head>
  <title>LightHouse</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id= "top_bar">
	  <%= image_tag('logo.png') %>
	  
	  <div id="banner">
	  	Lighthouse<p><b>Issue tracking simplified</b></p>
	  </div>

	  <% if session[:user_id] %>
	    
	    <div id= "logout">
	      <label id="useremail"><%= User.find(session[:user_id]).email %></label>
		   <div id = "header_links" >
		    <%= link_to 'Account', edit_user_path(session[:user_id]) %>
		    <%= link_to 'Home' , user_path(session[:user_id]) %>
		    <%= link_to 'Logout', logout_path, :method => :delete %>
	       </div>
	   </div>
	    
	    <div id = "search_by_project">
	      <%= form_tag projects_path, :method => 'get' do %>
					<p>
					  <%= text_field_tag :search, params[:search] %>
				      <%= submit_tag "Project", :name => nil %>
					</p>
	      <% end %>
	    </div>
	  
	  <% end %>
	</div>

	<div id = "main">
	  <%= yield %>
	</div>

</body>
</html>